
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline: none;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.tab-pane.panel {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.negative-sum.badge {
  background-color: #D9534F;
}

h1 > .negative-sum {
  color: #D9534F;
}

#income-hand {
  padding: 0px 5px;
}

#income-dist-form h1 {
  font-size: 140%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.hoodieUsername {
    font-weight: bold;
}
