
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    outline: none;
}

.navbar {
    margin-bottom: 0px;
}

#main-container {
    margin-top: 2em;
}

@media screen and (min-width:1801px) {
    .jumbotron {
        background: url(../img/background-2322.jpg) bottom no-repeat;
        padding-top: 8em;
        padding-bottom: 4em;
    }
}

@media screen and (min-width:1401px) and (max-width:1800px) {
    .jumbotron {
        background: url(../img/background-1800.jpg) bottom no-repeat;
        padding-top: 8em;
        padding-bottom: 4em;
    }
}

@media screen and (min-width:1101px) and (max-width:1400px) {
    .jumbotron {
        background: url(../img/background-1400.jpg) bottom no-repeat;
        padding-top: 8em;
        padding-bottom: 4em;
    }
}

@media screen and (min-width:801px) and (max-width:1100px) {
    .jumbotron {
        background: url(../img/background-1100.jpg) bottom no-repeat;
        padding-top: 8em;
        padding-bottom: 4em;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    .jumbotron {
        background: url(../img/background-800.jpg) bottom no-repeat;
    }
}

@media screen and (min-width:401px) and (max-width:600px) {
    .jumbotron {
        background: url(../img/background-600.jpg) bottom no-repeat;
    }
}

@media screen and (max-width:400px) {
    .jumbotron {
        background: url(../img/background-400.jpg) bottom no-repeat;
    }
}

.jumbotron {
    background-size: cover;
}

.jumbotron h1 {
    font-size: 3em;
}

.jumbotron p {
    font-size: 1.2em;
}

.jumbotron .container {
    color: #fff;
    background-color: rgba(62, 63, 58, 0.95);
}

.connectionOnline {
    color: #93C54B;
}

.connectionOffline {
    color: #D9534F;
}

.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #93C54B;
}

.green-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom-color: #93C54B;
}

.red-tooltip + .tooltip > .tooltip-inner {
    background-color: #D9534F;
}

.red-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom-color: #D9534F;
}

.tooltip {
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
}

.form-group-together {
    margin-bottom: 0px;
}

#loginForm .col-sm-2.control-label {
    padding-right: 0px;
}

#loginForm .col-sm-2.control-label.multiline {
    padding-top: 5px;
}

#dialogModal .modal-dialog {
    padding: 20px;
}

.tab-pane.panel {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.negative-sum.badge {
    background-color: #D9534F;
}

h1 > .negative-sum {
    color: #D9534F;
}

#income-hand {
    padding: 0px 5px;
}

#income-dist-form h1 {
    font-size: 140%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.dropdown-menu > li > a {
    text-transform: none;
    font-size: 1em;
}

#income-sum-text:empty + span {
    display: none;
}

#income-sum-text.negative-sum {
    color: #D9534F;
    font-weight: bold;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

